@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Personal Info</h1>
    <p class="text-left">Turlei Roman Victorovich</p>
    <p class="text-left">Junior .Net developer</p>
    <p class="text-left">ext</p>
</div>

